//Alan Alberto Colli Ake
<!DOCTYPE html>
<html>
<head>
  <title>Citas</title>

  <link rel="stylesheet" href="styles/main.css">
</head>

<body>
  <h1>¿Conoces quién dijo?:</h1>

  <div class="card">
    <p><%= quote %></p>
  </div>

  <p class="character">
    <%= character %>
  </p>
</body>
</html>